<?xml version="1.0" encoding="UTF-8" ?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="com.cordova.plugin.SamsungPassPlugin" version="1.0.0">
    <name>SamsungPassPlugin</name>
    <description>Implements Fingerprint Scanning with Samsung devices.</description>
    <author>Trevor Brindle (https://github.com/tabrindle)</author>
    <repo>https://github.com/tabrindle/cordova-plugin-samsungpass.git</repo>
    <platform name="android">
        <js-module src="www/SamsungPass.js" name="SamsungPassPlugin">
            <clobbers target="SamsungPass" />
        </js-module>
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="SamsungPassPlugin">
                <param name="android-package" value="com.cordova.plugin.SamsungPassPlugin" />
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY" />
        </config-file>
        <source-file src="src/android/SamsungPassPlugin.java" target-dir="src/com/cordova/plugin/" />
        <source-file src="src/android/pass-v1.1.3.jar" target-dir="libs/" />
        <source-file src="src/android/sdk-v1.0.0.jar" target-dir="libs/" />
    </platform>
</plugin>
